apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: front
  name: front
  namespace: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: front
  strategy: {}
  template:
    metadata:
      labels:
        app: front
    spec:
      containers:
      - image: ui-restaurant:v1.0.0
        ports:
        - containerPort: 4200
        name: front
        resources: {}
status: {}
