apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
  namespace: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
      - name: postgresql-container
        image: postgres:latest
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgresql-pv
          mountPath: /var/lib/postgresql
        - name: db-init-scripts
          mountPath: /docker-entrypoint-initdb.d/init.sql
          subPath: init.sql
        - name: db-init-scripts
          mountPath: /docker-entrypoint-initdb.d/insert_products.sql
          subPath: insert_products.sql
        env:
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: db-config
              key: pg_user
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: db-config
              key: pg_password
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: db-config
              key: pg_database
      volumes:
      - name: postgresql-pv
        persistentVolumeClaim:
          claimName: postgres-claim
      - name: db-init-scripts
        configMap:
          name: db-init-scripts
