apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: database
spec:
  selector:
    app: postgresql
  type: NodePort
  ports:
  - name: http
    port: 5432
    targetPort: 5432
    nodePort: 30802
